<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:cxf="http://camel.apache.org/schema/cxf"
	xmlns:soap="http://cxf.apache.org/bindings/soap" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:broker="http://activemq.apache.org/schema/core" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/bindings/soap 
		http://cxf.apache.org/schemas/configuration/soap.xsd
		http://cxf.apache.org/jaxws 
		http://cxf.apache.org/schemas/jaxws.xsd
		http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       	http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd
		http://www.springframework.org/schema/tx
       	http://www.springframework.org/schema/tx/spring-tx.xsd
       	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-3.0.xsd
        http://activemq.apache.org/schema/core 
        http://activemq.apache.org/schema/core/activemq-core-5.5.0.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<!-- <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent"> 
		<property name="brokerURL" value="vm://localhost:61616"/> </bean> -->

	<bean id="atomikosJmsConnectionFactory" class="com.atomikos.jms.AtomikosConnectionFactoryBean">
		<property name="uniqueResourceName" value="jmsConFact" />
		<property name="xaConnectionFactory" ref="jmsXaConnectionFactory" />
	</bean>


	<!-- Is the ConnectionFactory to connect to the JMS broker -->
	<!-- notice how we must use the XA connection factory -->
	<bean id="jmsXaConnectionFactory" class="org.apache.activemq.ActiveMQXAConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:61616" />
	</bean>

	<!-- define the activemq Camel component so we can integrate with the AMQ 
		broker below -->
	<bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
		<!-- must indicate that we use transacted acknowledge mode -->
		<property name="transacted" value="true" />
		<!-- refer to the transaction manager -->
		<property name="transactionManager" ref="jtaTransactionManager" />
	</bean>

	<!-- setup a local JMS Broker for testing purpose --> 
	<broker:broker id="my-broker"  
		useJmx="false" persistent="false" brokerName="localhost"> <broker:transportConnectors> 
		<broker:transportConnector uri="tcp://localhost:61616"/> </broker:transportConnectors> 
	</broker:broker> 





	<bean id="appProperties"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:/config.properties" />
	</bean>




	<bean id="personServiceRoute" class="be.steria.datapoc.services.routes.MainServiceRoute">
		<property name="nodesInformation" ref="nodesInformation" />
		<property name="centralNodePredicate" ref="centralNodePredicate" />
		<property name="serverSourcePredicate" ref="serverSourcePredicate" />
	</bean>


	<bean id="dataSource" class="com.atomikos.jdbc.nonxa.AtomikosNonXADataSourceBean">
		<property name="uniqueResourceName" ref="currentDate" />
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:mem:inMemoryPersonDB" />
		<property name="user" value="sa" />
		<property name="password" value="" />
		<property name="poolSize" value="3" />
	</bean>


	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="PersonDB" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
	</bean>


	<bean id="atomikosTransactionManager" 
		depends-on="userTransactionService"
		class="com.atomikos.icatch.jta.UserTransactionManager"
		init-method="init" destroy-method="close">
		<property name="forceShutdown" value="true" />

	</bean>

	<!-- this is some atomikos setup you must do -->
	<bean id="atomikosUserTransaction" 
		depends-on="userTransactionService"
		class="com.atomikos.icatch.jta.UserTransactionImp">
		<property name="transactionTimeout" value="60" />

	</bean>




	<bean id="basedir" class="java.lang.String">
		<constructor-arg value="./temp/atomikos_logs_" />

	</bean>

	<bean id="fastDateFormat" class="org.apache.commons.lang.time.FastDateFormat"
		factory-method="getInstance">
		<constructor-arg value="hh_mm_ss_SSS" />
	</bean>

	<bean id="currentDate" class="java.util.Date" factory-bean="fastDateFormat"
		factory-method="format">
		<constructor-arg>
			<bean class="java.util.Date" />
		</constructor-arg>
	</bean>
	
	
	<bean id="curNodeId" class="java.lang.String">
		<constructor-arg value="${nodes.current}" />
	</bean>

	<bean id="log_path" factory-bean="basedir" factory-method="concat">
		<constructor-arg ref="currentDate" />
	</bean>



	<bean id="userTransactionService" class="com.atomikos.icatch.config.UserTransactionServiceImp"
		
		init-method="init" destroy-method="shutdownForce">
		<constructor-arg>

			<props>
				<prop key="com.atomikos.icatch.service">com.atomikos.icatch.standalone.UserTransactionServiceFactory
				</prop>
				<prop key="com.atomikos.icatch.output_dir">#{log_path}</prop>
				<prop key="com.atomikos.icatch.log_base_dir">#{log_path}</prop>
				<prop key="com.atomikos.icatch.lock_logs">false</prop>
				<prop key="com.atomikos.icatch.no_file">true</prop>
				<prop key="com.atomikos.icatch.hide_init_file_path">true</prop>
				<prop key="com.atomikos.icatch.console_log_level">WARN</prop>
			</props>
		</constructor-arg>
	</bean>



	<bean id="jtaTransactionManager"
		class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="transactionManager" ref="atomikosTransactionManager" />
		<property name="userTransaction" ref="atomikosUserTransaction" />
	</bean>

	<tx:annotation-driven transaction-manager="jtaTransactionManager" />


	<bean id="personDao" class="be.steria.datapoc.dao.PersonDaoImpl" />


	<bean id="personProcessor" class="be.steria.datapoc.services.PersonProcessorImpl">
		<property name="nodesInformation" ref="nodesInformation" />
		<property name="personDao" ref="personDao" />
		<property name="logEvents" value="false" />
	</bean>


	<bean id="centralNodePredicate" class="be.steria.datapoc.services.CentralNodePredicate">
		<property name="nodesInformation" ref="nodesInformation" />
	</bean>
	
	<bean id="serverSourcePredicate" class="be.steria.datapoc.services.ServerSourcePredicate">
		<property name="nodesInformation" ref="nodesInformation" />
	</bean>

	<cxf:cxfEndpoint id="personEndpoint" address="/PersonService"
		serviceClass="be.steria.datapoc.services.PersonService" />



	

	<bean id="nodeLogger" class="be.steria.datapoc.services.NodeLoggerImpl">
		<property name="loggerAddress" value="${logger.address}" />
	</bean>

	<bean id="nodesInformation" class="be.steria.datapoc.services.NodesInformationImpl">

		<property name="nodeInfoAddress" value="${nodeInfo.address}" />
	</bean>

	

	<bean id="serviceReplicator" class="be.steria.datapoc.services.ServiceReplicatorImpl">

		<property name="nodesInformation" ref="nodesInformation" />
	</bean>

	<bean id="nodeControler" class="be.steria.datapoc.services.NodeControlerImpl">
		<property name="currentNodeId" value="${nodes.current}" />
		<property name="serviceRoute" ref="personServiceRoute" />
	</bean>
  
	<jaxws:endpoint id="NodeControlerService"
		implementorClass="be.steria.datapoc.services.NodeControler"
		implementor="#nodeControler" address="/NodeControler" />
		
	<bean id="queryPersons" class="be.steria.datapoc.services.QueryPersonsImpl">
		<property name="personDao" ref="personDao" />
	</bean>
  
	<jaxws:endpoint id="QueryPersonsService"
		implementorClass="be.steria.datapoc.services.QueryPersons"
		implementor="#queryPersons" address="/QueryPersons" />

	<context:annotation-config />


</beans>